

.Header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(211, 214, 209);
    height: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    
    

}
.left-section{
color: rgb(122, 106, 168);
height: 70px;
width: 100px;
display: flex;
align-items: center;
margin-left: 30px;
padding-left: 30px;

}
.middle-section{
color: black;
height: 65px;
width: 750px;
display: flex;
align-items: center;


}
.right-section{
color: black;
height: 50px;
display: flex;
width: 350px;
justify-content: space-between;
align-items: center;
padding-top: 8px;
margin-right: 30px;
padding-left: 30px;

}
body{
    
    margin: 0;
    background: linear-gradient(to right,#a5a2a3,#7a82a8);
    
}
.search{
    width: 100%;
    padding-left: 20px;
}
.Discount{
    background-color: #3d3f50;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 0%;
    height: 30px;
    padding-top: 7px;
    
    

    

}
.Brand{
    font-size: 35px;
    font-weight: bold;
    


}
.all{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
    padding-top: 40px;
    
    
}
.div1{
border: 2px solid black;
height: 150px;
background-color: #9198bb;
text-align: center;
border-radius: 20px;
padding-top: 30px;



}
.div2{
 border: 2px solid black;   
 height: 150px;
background-color: #9198bb;
text-align: center;
border-radius: 20px;
padding-top: 30px;
}
.div3{
border: 2px solid black;
height: 150px;
background-color: #9198bb;
text-align: center;
border-radius: 25px;
padding-top: 30px;

}

/* Apply to all grid boxes */
.div1, .div2, .div3 {
    border: 2px solid black;
    height: 150px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
     background-color: #bbb3f1;
}

/* POP effect */
.div1:hover, .div2:hover, .div3:hover {
    transform: scale(1.12); /* the pop */
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    cursor: pointer;
}


.footer {
    background-color: #3d3f50;
    color: white;
    text-align: center;
    padding: 25px 10px;
    margin-top: 60px;
    font-size: 15px;
}
.cta {
    text-align: center;
    padding: 60px 20px;
}
.cta-btn {
    padding: 15px 40px;
    background: #30334d;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid black;
}
 .cta-btn:hover {
    transform: scale(1.1);
    background: #222436;
}
.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.logo {
    width: 180px;
    height: auto;
    border-radius: 20px;
    border-color: black;
}

.info-details {
    padding: 40px 20px;
     background: linear-gradient(to right,#a5a2a3,#7a82a8);
    text-align: center;
    font-size: 18px;
    color: #020202;
    line-height: 1.6;
}


@media screen and (max-width: 768px){
    .Header{
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 10px 0;
    }

    .left-section, .middle-section, .right-section{
        margin: 5px 0;
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .right-section{
        flex-direction: column;
        gap: 10px;

    }

    .all{
        grid-template-columns: 1fr;
        margin: 30px 20px 0 20px;
    }

    .cta-btn{
        width: 80%;
        font-size: 20px;
    }

    .search{
        width: 90%;
        margin: 0 auto;
    }

    .logo{
        width: 150px;
    }
}
